/* ================= General ================= */

html  {
	font-family: "Fira Code";

	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: var(--dark-twitch);
	margin: 0;
	
}

p {
	margin: 0;
}

input:hover {
	cursor: pointer;
}

button:hover  {
	cursor: pointer;
}

#main-container {
	display: inline-block;
	padding: 40px;
}

.center {
	text-align: center;
}

/* ============ Drawing Container ============ */

#drawing-container {
	width: 800px;
	height: 600px;
	display: inline-block;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;

	background-color: var(--light-gray);
	border: 10px solid var(--twitch);
	border-radius: 20px;
}

/* ================ Side Panel =============== */

#side-panel {
	display: inline-block;
	float: left;

	width: 500px;
}

/* -------------- Chat Messages -------------- */

#message-container {
	color: white;
	background-color: var(--twitch);
	font-size: 20px;

	padding: 20px;
	margin-bottom: 30px;
	height: 90px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#user-name {
	font-weight: bold;

	margin-bottom: 4px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#user-message {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* ----------------- Options ----------------- */

#options-container {
	color: white;
	background-color: var(--twitch);

	padding: 30px;
	border-radius: 20px;
}

#options-container h1 {
	font-size: 24px;

	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 8px;
}

#options-container hr {
	margin-bottom: 16px;
}

#options-grid label {
	font-size: 20px;
	float: left;
}

#options-grid input[type=checkbox] {
	-ms-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-webkit-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
	float: right;
}

#options-grid {
	display: grid;
  	grid-template-columns: auto auto;
  	margin-bottom: 10px;
}

.grid-item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#time-container {
	padding: 10px;
}

#time-slider {
	width: 100%;
}

#channel-textfield {
	font-size: 22px;
	font-family: "Fira Code";
	background-color: var(--light-gray);

	text-align: center;
	border-style: hidden;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	border: 1px solid black;
}

#channel-textfield:focus {
	outline-width: 0;
}

#channel-textfield:hover {
	cursor: text;
}

#new-prompt-button {
	font-size: 22px;
	font-family: "Fira Code";
	background-color: #64ff64;

	outline: none;
	text-align: center;
	border-style: hidden;
	border-radius: 10px;
	width: 40%;
	height: 40px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
	transition-property: filter;
	transition-duration: 0.2s;
}

#new-prompt-button:hover {
	filter: brightness(80%);
}

#reset-button {
	font-size: 22px;
	font-family: "Fira Code";
	background-color: #ff6464;

	outline: none;
	text-align: center;
	border-style: hidden;
	border-radius: 10px;
	width: 40%;
	height: 40px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
	transition-property: filter;
	transition-duration: 0.2s;
}

#reset-button:hover {
	filter: brightness(80%);
}

/* ============ Header and Footer ============ */

header {
	font-family: "Dimitri Swank";
	text-transform: lowercase;
	color: white;
	font-size: 50px;

	background-color: var(--twitch);
	box-shadow: 0px 3px 10px black;

	padding: 10px;
	padding-left: 40px;
}

footer {
	background-color: var(--twitch);
}

/* ============= Fonts and Colours =========== */

@font-face {
    font-family: 'Dimitri Swank';
    src: url('fonts/DimitriSwank.woff2') format('woff2'),
       	 url('fonts/DimitriSwank.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--twitch: #6441a5;
	--light-twitch: #9146ff;
	--dark-twitch: #462387;
	--light-gray: #ebebeb;
};