/* ================= General ================= */

html  {
	font-family: "Fira Code";

	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: var(--dark-twitch);
	margin: 0;
}

p {
	margin: 0;
}

input:hover {
	cursor: pointer;
}

button:hover  {
	cursor: pointer;
}

#main-container {
	display: inline-block;
	padding: 40px;
}

.center {
	text-align: center;
}

/* ============ Drawing Container ============ */

#drawing-parent {
	float: left;
	border: 10px solid var(--twitch);
	border-radius: 20px;
	margin-right: 30px;
}

#drawing-container {
	/* the bottom maintains the aspect ratio */
	width: calc(100vw - 650px);
	height: calc(56.25vw - 366px);
	max-width: 1120px;
	max-height: 630px;

	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#canvas {
	width: 100%;
	height: 100%;
}

/* -------------- Drawing Tools -------------- */

#tools-container {
	width: calc(100vw - 670px);
	max-width: 1100px;

	background-color: lightgray;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0;
	padding: 10px;
	text-align: center;
}

#drawing-tool-container {
	display: inline-block;
}

#tool-size-container  {
	display: inline-block;
}

.drawing-tool {
	height: 40px;
	width: 40px;
	padding: 5px;

	background-color: white;
	border-radius: 8px;
	border: 1px solid black;
	outline: none;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.drawing-tool:hover {
	background-color: var(--light-twitch);
}

.tool-size {
	height: 40px;
	width: 40px;
	padding: 5px;

	background-color: white;
	border-radius: 8px;
	border: 1px solid black;
	outline: none;
	transition-property: filter;
	transition-duration: 0.2s;
}

.tool-size:hover {
	filter: brightness(0.7);
}

/* --------------- Color Buttons --------------*/

#colors-container {
	display: inline-block;
	margin: 5px;
}

.color-button {
	height: 26px;
	width: 26px;

	margin: -5px;
	border: none;
	outline: none;
	display: inline-block;
	transition-duration: 0.1s;
}

.color-button:hover {
	position:relative;
    z-index: 0;
	box-shadow: 0 0 5px black;
	transform: scale(1.1);
}

#red-button {
	background-color: var(--red);
}

#orange-button {
	background-color: var(--orange);
}

#yellow-button {
	background-color: var(--yellow);
}

#green-button {
	background-color: var(--green);
}

#blue-button {
	background-color: var(--blue);
}

#purple-button {
	background-color: var(--purple);
}

#white-button {
	background-color: var(--white);
}

#dark-gray-button {
	background-color: var(--dark-gray);
}

#dark-red-button {
	background-color: var(--dark-red);
}

#dark-orange-button {
	background-color: var(--dark-orange);
}

#dark-yellow-button {
	background-color: var(--dark-yellow);
}

#dark-green-button {
	background-color: var(--dark-green);
}

#dark-blue-button {
	background-color: var(--dark-blue);
}

#dark-purple-button {
	background-color: var(--dark-purple);
}

#gray-button {
	background-color: var(--gray);
}

#black-button {
	background-color: var(--black);
}

/* ================ Side Panel =============== */

#side-panel {
	display: inline-block;
	float: left;

	width: 500px;
}

/* -------------- Chat Messages -------------- */

#message-container {
	color: white;
	background-color: var(--twitch);
	font-size: 20px;

	padding: 10px;
	margin-bottom: 30px;
	height: 90px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#user-name {
	font-weight: bold;

	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#user-message {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* ----------------- Options ----------------- */

#options-container {
	color: white;
	background-color: var(--twitch);

	padding: 30px;
	border-radius: 20px;
}

#options-container h1 {
	font-size: 24px;
	letter-spacing: 2px;

	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 10px;
}

#options-container hr {
	margin-bottom: 20px;
}

#options-grid label {
	font-size: 18px;
	float: left;
}

#options-grid input[type=checkbox] {
	-ms-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-webkit-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
}

#options-grid {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 10px;
}

.grid-item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}

#time-container {
	padding: 10px;
}

#time-slider {
	width: 100%;
}

#channel-textfield {
	font-size: 22px;
	font-family: "Fira Code";
	background-color: var(--light-gray);

	text-align: center;
	border-style: hidden;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	border: 1px solid black;
}

#channel-textfield:focus {
	outline-width: 0;
}

#channel-textfield:hover {
	cursor: text;
}

.options-button {
	font-size: 18px;
	font-family: "Fira Code";

	outline: none;
	text-align: center;
	border-style: hidden;
	border-radius: 10px;
	width: 45%;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid black;
	transition-property: filter;
	transition-duration: 0.2s;
}

.options-button:hover {
	filter: brightness(80%);
}

#new-prompt-button {
	background-color: #64ff64;
}

#reset-button {
	background-color: #ff6464;
}


/* ============ Header and Footer ============ */

header {
	font-family: "Dimitri Swank";
	text-transform: lowercase;
	color: white;
	font-size: 50px;
	background-color: var(--twitch);
	box-shadow: 0px 3px 10px black;

	text-align: center;
	padding: 10px;
	padding-left: 40px;
}

footer {
	background-color: var(--twitch);
}

/* ============= Window Resolution =========== */

@media (max-width: 1100px)  {
	#drawing-container {
		width: calc(100vw - 120px);
		height: calc(56.25vw - 56px);
	}

	#drawing-parent {
		margin-bottom: 30px;
		margin-right: 0px;
	}

	#tools-container {
		width: calc(100vw - 140px);
	}

	#side-panel {
		width: calc(100vw - 100px);
	}
}

/* ============= Fonts and Colours =========== */

@font-face {
    font-family: 'Dimitri Swank';
    src: url('fonts/DimitriSwank.woff2') format('woff2'),
       	 url('fonts/DimitriSwank.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--twitch: #6441a5;
	--light-twitch: #9146ff;
	--dark-twitch: #462387;
	--light-gray: #ebebeb;

	--red: #FF0000;
	--orange: #FFA500;
	--yellow: #FFFF00;
	--green: #00FF00;
	--blue: #0000FF;
	--purple: #800080;
	--gray: #C0C0C0;
	--black: #000000;
	--dark-red: #8B0000;
	--dark-orange: #8B4513;
	--dark-yellow: #BDB76B;
	--dark-green: #006400;
	--dark-blue: #000080;
	--dark-purple: #4B0082;
	--dark-gray: #696969;
	--white: #ffffff;
};